* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #969696;
  background: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg"), #19a2ae;
  background-repeat: no-repeat;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}

main {
  position: relative;
}

.profile-card {
  background-color: #fff;
  width: 350px;
  min-height: 375px;
  background-image: url("./images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--avatar {
  background-image: url("./images/image-victor.jpg");
  background-position: center;
  background-size: cover;
  width: 105px;
  height: 105px;
  border: 5px solid white;
  border-radius: 50%;
  margin-top: 5.5rem;
}

.card-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6a6f81;
}

.card-middle .card-middle__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.card-middle .card-middle__user--name {
  color: #2d3248;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.card-middle .card-middle__user--age {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.card-middle .card-middle--country {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

hr {
  width: 100%;
  height: 0.7px;
  border: none;
  background-color: #969696;
  opacity: 0.3;
}

.card-bottom {
  width: 100%;
  padding-bottom: 8px;
}

.card-bottom .card-bottom__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-bottom__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-bottom__stat .card-bottom__stat--ammount {
  color: #2d3248;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0;
}

.card-bottom__stat .card-bottom__stat--label {
  font-size: 0.625rem;
  letter-spacing: 2px;
  color: #6a6f81;
  margin-top: 4px;
}

footer {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1rem;
}

.attribution {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: #c9c9c9;
  text-decoration: none;
}

.attribution a:hover, .attribution a:active {
  color: #ffca1b;
}

@media (max-width: 350px) {
  .profile-card {
    width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */
